.slider {
  display: inline-block;
  width: 470px;
  height: 588px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type="radio"] {
  display: none;
}

.sldBx {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.slideImgs {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400%;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slideImgs li {
  width: 100%;
  padding: 0;
  margin: 0;
}

.slideImgs img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 2;
}

.bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.49);
  width: 7px;
  height: 7px;
  cursor: pointer;
}

/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider
  input[type="radio"]:nth-child(1):checked
  ~ .bullets
  > label:nth-child(1) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(2):checked
  ~ .bullets
  > label:nth-child(2) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(3):checked
  ~ .bullets
  > label:nth-child(3) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(4):checked
  ~ .bullets
  > label:nth-child(4) {
  background-color: #fff;
}

.slider input[type="radio"]:nth-child(1):checked ~ .sldBx > .slideImgs {
  left: 0;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(2):checked ~ .sldBx > .slideImgs {
  left: -470px;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(3):checked ~ .sldBx > .slideImgs {
  left: -940px;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(4):checked ~ .sldBx > .slideImgs {
  left: -1410px;
  transition: 0.5s;
}

.gallery {
  margin: 0;
  padding: 0;
  width: 470px;
  border-radius: 3px;
}
