nav {
  position: fixed;
  width: 244px;
  height: 100%;
  padding: 16px 12px 20px 12px;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  z-index: 40;
}

.logo_home {
  padding: 10px 2.5px 10px;
  margin: 2px 3px 19px 2px;
}

.logo_home img {
  width: 117.5px;
}

.SideMenu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 218px;
  font-size: 16px;
}

.SideMenu a {
  width: 196px;
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 2px 0 7px;
  border-radius: 24px;
}

.SideMenu a:hover {
  background-color: rgba(128, 128, 128, 0.054);
}

.SideMenu img {
  width: 22px;
  height: 22px;
  padding: 0 17px 1px 1px;
}

.more {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 12px 2px 12px 10px;
  border-radius: 24px;
  box-sizing: border-box;
}

.more:hover {
  background-color: rgba(128, 128, 128, 0.054);
}

.more img {
  width: 21px;
  margin-right: 17px;
  padding: 0 0 2px 3px;
}

.uploadBxBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.uploadBx {
  position: absolute;
  left: calc(50% - 310.5px);
  top: calc(50% - 332px);
  width: 621px;
  height: 664px;
  background-color: white;
  border-radius: 10px;
  z-index: 300;
}
