html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: row;
  position: relative;
}

nav {
  position: fixed;
  width: 244px;
  height: 100%;
  padding: 16px 12px 20px 12px;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  z-index: 40;
}

video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

.logo_home {
  padding: 10px 2.5px 10px;
  margin: 2px 3px 19px 2px;
}

.logo_home img {
  width: 117.5px;
}

.SideMenu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 218px;
  font-size: 16px;
}

.SideMenu a {
  width: 196px;
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 2px 0 7px;
  border-radius: 24px;
}

.SideMenu a:hover {
  background-color: rgba(128, 128, 128, 0.054);
}

.SideMenu img {
  width: 22px;
  height: 22px;
  padding: 0 17px 1px 1px;
}

.more {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 12px 2px 12px 10px;
  border-radius: 24px;
  box-sizing: border-box;
}

.more:hover {
  background-color: rgba(128, 128, 128, 0.054);
}

.more img {
  width: 21px;
  margin-right: 17px;
  padding: 0 0 2px 3px;
}

.uploadBxBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.uploadBx {
  position: absolute;
  left: calc(50% - 310.5px);
  top: calc(50% - 332px);
  width: 621px;
  height: 664px;
  background-color: white;
  border-radius: 10px;
  z-index: 300;
}

.mainSection {
  width: 853px;
  float: left;
  background-color: white;
  margin: 0 139px 0 422px;
  display: flex;
  flex-direction: row;
}

.feed {
  background: white;
  width: 470px;
  margin: 10px 64px 0 0;
}

.story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  margin: 22px 0 15px 0;
  padding: 16px 0;
  box-sizing: border-box;
}

.story > figure {
  margin: 0;
  padding: 0 6px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 56px;
  height: 84px;
}

.story figcaption {
  font-size: 12px;
  padding-top: 2px;
}

.storyImgBg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(
      to bottom left,
      #b921ff 0%,
      rgba(255, 15, 107, 0.929) 35%,
      orange 60%,
      #ffeca6 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.storyimg {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.post {
  width: 470px;
  margin-top: 15px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ddd;
}

.user {
  width: 100%;
  height: 56px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userImg {
  width: 32px;
  height: 32px;
  border: 0.5px solid #ddd;
  border-radius: 50%;
}

.userStory {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(
      to bottom left,
      #b921ff 0%,
      rgba(255, 15, 107, 0.929) 35%,
      orange 60%,
      #ffeca6 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.userName {
  width: 380px;
  height: 40px;
  margin: 0 20px 0 10px;
  display: inline-flex;
  align-items: center;
  font-size: 14.5px;
  font-weight: 650;
  color: black;
}

.userName a {
  display: inline-block;
  margin: 0 3px 0 0;
  color: black;
}

.minor {
  display: inline-block;
  color: rgb(126, 126, 126);
  font-size: 14px;
}

.ddd {
  width: 16px;
  height: 16px;
  padding: 0 3px 0 4px;
}

.slider {
  display: inline-block;
  width: 470px;
  height: 588px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type="radio"] {
  display: none;
}

.sldBx {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.slideImgs {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400%;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slideImgs li {
  width: 100%;
  padding: 0;
  margin: 0;
}

.slideImgs img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 2;
}

.bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.49);
  width: 7px;
  height: 7px;
  cursor: pointer;
}

/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider
  input[type="radio"]:nth-child(1):checked
  ~ .bullets
  > label:nth-child(1) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(2):checked
  ~ .bullets
  > label:nth-child(2) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(3):checked
  ~ .bullets
  > label:nth-child(3) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(4):checked
  ~ .bullets
  > label:nth-child(4) {
  background-color: #fff;
}

.slider input[type="radio"]:nth-child(1):checked ~ .sldBx > .slideImgs {
  left: 0;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(2):checked ~ .sldBx > .slideImgs {
  left: -470px;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(3):checked ~ .sldBx > .slideImgs {
  left: -940px;
  transition: 0.5s;
}

.slider input[type="radio"]:nth-child(4):checked ~ .sldBx > .slideImgs {
  left: -1410px;
  transition: 0.5s;
}

.gallery {
  margin: 0;
  padding: 0;
  width: 470px;
  border-radius: 3px;
}

.function {
  padding: 0 0 6px;
  width: 470px;
  height: 46px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.bookmark {
  margin: 0 0 7px;
}

.drctMssg {
  padding: 0 0 1px;
}

.function img {
  width: 22px;
  height: 22px;
}

.function svg:last-child {
  padding-left: 318px;
}

.function svg:not(:last-child) {
  margin-right: 8px;
}

.likes {
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 470px;
  height: 18px;
  margin-bottom: 8px;
}

.likes img {
  border-radius: 50px;
  width: 14px;
  padding: 0;
  margin: 0 4px 2px 0;
  border: 0.5px solid #ddd;
}

a.likeUser {
  color: black;
  font-weight: 700;
}

.userEdit {
  width: 470px;
  height: 18px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.userEdit p {
  font-size: 14px;
}

.editID {
  font-size: 15px;
  font-weight: 630;
  color: black;
  padding-right: 5px;
}

.edit > a {
  margin-bottom: 6px;
}

.smiley {
  width: 470px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.smiley img {
  width: 11px;
  padding-bottom: 1px;
  opacity: 0.5;
}

.front {
  padding-right: 13px;
}

.hashtag {
  color: rgb(0, 0, 123);
  font-weight: 500;
}

aside {
  width: 319px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 55px 0 0;
  background: #fff;
}

.myProfile {
  width: 319px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 17px;
}

.myProfile img {
  padding-right: 8px;
}

.rcmd {
  width: 319px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rcmd > div {
  margin: 0 0 8px;
}

.line1 {
  width: 319px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line1 > a {
  font-size: 12px;
}

.rcmdUser {
  width: 319px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow {
  width: 319px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 8px;
  box-sizing: border-box;
}

.rcmdUser span {
  font-size: 13px;
}

.liProfile {
  width: 269px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.minorx2 {
  color: rgb(126, 126, 126);
  font-size: 13px;
}

.liProfile img {
  margin-right: 10px;
}

.liProfile div {
  width: 237px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

a.friendName {
  width: 237px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 630;
  color: black;
  padding: 0 0 2px 0;
  box-sizing: borderbox;
}

span.btn {
  color: #0095f6;
  font-size: 12px;
  font-weight: 550;
  padding: 1px 0 0;
}

.ftrBox {
  width: 100%;
  margin: 20px 0 10px;
}

.ftrBox li {
  display: inline-block;
  font-size: 12px;
}

.ftrBox li a {
  color: rgb(200, 200, 200);
}

footer > span {
  color: rgb(200, 200, 200);
  font-size: 12px;
}

.ftrBox li:not(:last-child):after {
  content: "∙";
  color: rgb(200, 200, 200);
}

.pgUp {
  border: none;
  background: none;
}

.pgUp {
  width: 30px;
  height: 30px;
  position: fixed;
  margin-top: 800px;
  background-image: url(/HW/images/arrow.svg);
  opacity: 0.5;
}
